.body-font{
  font-family: 'Raleway', sans-serif;
}
.centered-img{
  display: block;
  width: 100%;
  margin: auto;
}
.offline{
  width: 100%;
}
@media (min-width: 720px){
  .centered-img{
    width: 50% !important;
  }
  .offline{
    width: 50% !important;
  }
}
.centered-text{
  text-align: center;
}
.full-width{
  width: 100%;
}
.right-text{
  text-align: right;
}
.paragraph{
  padding-top: 15px;
  text-align: center;
}

